<!DOCTYPE html>
<html>
    <p>Web Status:</p>
    <form action="/" method="POST">
        <input name="set" placeholder="enter web status eg.open/close">
        <button>Apply</button>
    </form>
</html>